// colors
$heading-primary:#323232;
$heading-secondary:#000000;
$font-primary:#FFFFFF;
$font-secondary:#AFAFAF;
$background-primary:#E1E1E1;
$background-secondary:#FAFAFA;
//screen sizes 
$tablet-width:768px;
$desktop-width:1280px;
//fonts
