// colors
$black-primary-color:#323232;
$silver-primary-color:#AFAFAF;
$white-primary-color:#FFFFFF;
$black-secondary-color:#000000;
$mercury-secondary-color:#E1E1E1;
$alabaster-secondary-color:#FAFAFA;
//screen sizes 
$tablet-width:768px;
$desktop-width:1280px;