@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;
@use './partials/global' as *;

/* Hero Section */
.hero {
    display:flex;
    align-items: center; 
    background-image:url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center; 
    background-blend-mode: darken;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    opacity:90%;
    aspect-ratio: 16/9;
    max-height:50vh;
    padding:0rem 1rem;

    &__header {
        color:$font-primary;        
        @include mobile-header;

        @include tablet {
            @include desktop-page-header;
        }
    }

    @include tablet {
        padding:0rem 2.25rem;
        max-height: 70vh;
    }
    @include desktop {
        padding:0rem 7rem;
        max-height: 80vh;
    }
}
/* Content Section */
.content {
    color:$heading-primary;
    padding:0.5rem 1.5rem 0rem 1rem;
    &__header {
        @include mobile-header {
            padding:1rem 0rem 0.5rem;
        }
        @include tablet {
            @include desktop-section-header {
                padding:2.25rem 0rem 0.7rem;
            }
        }
    }
    &__wrapper {
        padding:0.5rem 0rem 0rem;
        @include tablet {
            padding:0.9rem 2.7rem 0rem;
        }
        @include desktop {
            padding:0.7rem 6rem 0rem 7rem;
        }
    }
    &__img {
        width:100%;
        padding-bottom:0.5rem;
        object-fit:cover;
        aspect-ratio: 16/9;
    }
    &__subheader {
        @include mobile-subheader;

        @include tablet {
            @include desktop-sub-header;
        }
        @include desktop {
            width:87%;
        }
        &--name {
            padding-top:0.5rem;
            @include tablet {
                font-size:1.3rem;
            }
        }
        &--title {
            color:$heading-secondary;
            @include mobile-subheader;
            @include tablet {
                @include desktop-sub-header;
            }
        }
    }
    &__text-wrapper {
        padding:1rem 0rem 0.7rem;
        @include tablet {
            padding:2rem 2.7rem;
        }
        @include desktop {
            padding:3rem 6rem 2rem 7rem;
        }
    }
    &__text-container {
        @include tablet {              
        display:flex;
        flex-direction:row;
        padding:1rem 1rem 0rem 0rem;
        gap:2rem;
        }
        @include desktop {
            padding:2rem 0rem 0rem;
        }
    }
    &__text {
        color:$heading-secondary;
        @include mobile-text {
            padding-top:1rem;
        }
        @include tablet {
            @include desktop-body-text {
                color:$heading-secondary;
                padding:0rem;
            }
        }
    }
    @include tablet {
        padding:0rem 2.25rem;
    }
    @include desktop {
        padding:0rem 7rem;
    }
}
/* Gallery Section */
.gallery {
    background-color:$background-secondary;
    &__header {
        color:$heading-primary;
        @include mobile-header {
            padding:1.3rem 1rem 0.5rem;
        }
        @include tablet {
            @include desktop-section-header;
            padding:2.25rem 0rem 0.8rem;
        }
    }
    &__wrapper {     
        @include tablet {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            gap:1rem;
        }
    }
    &__img {
        width:100%;
        flex:1;
        height:auto;
        padding:0.4rem 1rem;
        transition: transform 0.3s;
        filter:grayscale(100%);
        &:hover {
            filter:none;
        }
        @include tablet {
            width:31%;
            padding:0rem;
        }
        @include desktop {
            &:hover {
                transform: scaleX(1.5);
                transform: scale(1.5);
                z-index: 1;
            }
        }
    }
    @include tablet {
        padding:0rem 2.25rem 2rem;
    }
    @include desktop {
        padding:0rem 7rem 2rem;
    }
}