@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;
@use './partials/global' as *;

/* Hero Section */
.hero {
    display:flex;
    align-items: center; 
    background-image:url(../assets/images/hero-bio.jpg);

    &__header {
        color:$font-primary;        
        @include mobile-header;

        @include tablet {
            @include desktop-page-header;
        }
    }

    @include tablet {
        padding:0rem 2.25rem;
        max-height: 70vh;
    }
    @include desktop {
        padding:0rem 7rem;
        max-height: 80vh;
    }
}
/* Content Section */
.content {
    color:$heading-primary;
    padding:0.5rem 1.5rem 0rem 1rem;
    &__header {
        @include mobile-header {
            padding:1rem 0rem 0.5rem;
        }
        @include tablet {
            @include desktop-section-header {
                padding:2.25rem 0rem 0.7rem;
            }
        }
    }
    &__wrapper {
        padding:0.5rem 0rem 0rem;
        @include tablet {
            padding:0.9rem 2.7rem 0rem;
        }
        @include desktop {
            padding:0.7rem 6rem 0rem 7rem;
        }
    }
    &__img {
        width:100%;
        padding-bottom:0.5rem;
        object-fit:cover;
        aspect-ratio: 16/9;
    }
    &__subheader {
        @include mobile-subheader;

        @include tablet {
            @include desktop-sub-header;
        }
        @include desktop {
            width:87%;
        }
        &--name {
            padding-top:0.5rem;
            @include tablet {
                font-size:1.3rem;
            }
        }
        &--title {
            color:$heading-secondary;
            @include mobile-subheader;
            @include tablet {
                @include desktop-sub-header;
            }
        }
    }
    &__text-wrapper {
        padding:1rem 0rem 0.7rem;
        @include tablet {
            padding:2rem 2.7rem;
        }
        @include desktop {
            padding:3rem 6rem 2rem 7rem;
        }
    }
    &__text-container {
        @include tablet {              
        display:flex;
        flex-direction:row;
        padding:1rem 1rem 0rem 0rem;
        gap:2rem;
        }
        @include desktop {
            padding:2rem 0rem 0rem;
        }
    }
    &__text {
        color:$heading-secondary;
        @include mobile-text {
            padding-top:1rem;
        }
        @include tablet {
            @include desktop-body-text {
                color:$heading-secondary;
                padding:0rem;
            }
        }
    }
    @include tablet {
        padding:0rem 2.25rem;
    }
    @include desktop {
        padding:0rem 7rem;
    }
}
/* Gallery Section */
.gallery {
    background-color:$background-secondary;
    &__header {
        color:$heading-primary;
        @include mobile-header {
            padding:1.3rem 1rem 0.5rem;
        }
        @include tablet {
            @include desktop-section-header;
            padding:2.25rem 0rem 0.8rem;
        }
    }
    &__wrapper {     
        @include tablet {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            gap:1rem;
        }
    }
    &__img {
        width:100%;
        flex:1;
        height:auto;
        padding:0.4rem 1rem;
        transition: transform 0.3s;
        filter:grayscale(100%);
        &:hover {
            filter:none;
        }
        @include tablet {
            width:31%;
            padding:0rem;
        }
        @include desktop {
            &:hover {
                transform: scaleX(1.5);
                transform: scale(1.5);
                z-index: 1;
            }
        }
    }
    @include tablet {
        padding:0rem 2.25rem 2rem;
    }
    @include desktop {
        padding:0rem 7rem 2rem;
    }
}
/* Conversation Section */
.conversation {
    padding:0 1rem 1rem 1rem;
    @include tablet {
        padding:1rem 0;
    }
    &__container {
        @include tablet {
            padding:0rem 2.25rem;
        }
        @include desktop {
            padding:0rem 7rem;
        }
    }
    &__header {
        margin:1.3rem 0rem 1rem;
        color:$heading-primary;
        @include tablet {
            @include desktop-section-header;
        }
    }
    &__wrapper {
        display:flex;
        gap:1rem;
        padding:1rem 0rem;
        border-bottom:2px solid $background-primary;
        @include tablet {
            margin:1rem 3rem;
        }
        @include desktop {
            margin:1rem 17rem;
            justify-content: center;
        }
    }
    &__image {
        padding-top:1.1rem;
    }

    &__img {
        width:36px;
        height:36px;
        object-fit:cover;
        object-position:30% 60%;
        border-radius:50%;
        background-color: $font-secondary;

        &:hover {
            transform: scale(1.1);
          }
    }

    &__form {
        display:flex;
        flex-direction: column;
        width:100%;
        max-width:80%;
    }

    &__title {
        color: $font-secondary;
        font-size:0.8rem;
        font-weight:600;
        text-transform: uppercase;
        margin-bottom:0.3rem;
    }

    &__input {
        color:$heading-primary;
        background-color: $background-secondary;
        height:2rem;
        padding:0.75rem;
        border:0.06rem solid $background-primary;
        border-radius: 0.25rem;
        margin-bottom:1rem;
        &::placeholder {
            color:black;
        }

        &--comment {
            resize:none;
            height:7rem;
        }
        @include tablet {
            width:100%;
        }
    }

    &__btn {
        display:flex;
        justify-content:center;
        background-color:$heading-primary;
        color:$font-primary;
        font-weight:600;
        text-transform: uppercase;
        padding:0.8rem 2rem 0.6rem;
        border-radius: 5px;
        border:none;
        cursor:pointer;
        &:hover {
            background-color: $heading-secondary;
        }
        @include tablet {
            margin-left:auto;
        }
    }
// Conversation - List - Comments
    &__list {
        @include tablet {
            padding:0 3rem;
        }
        @include desktop {
            margin:0rem 18.7rem;
            padding:0;
        }
    }
    &__item {
        display: flex;
        gap: 1rem;
        padding: 1rem 0rem;
        border-bottom: 2px solid #E1E1E1;
    }
    &__comment {
        flex:1;
    }
    &__comment-header {
        display:flex;
        justify-content: space-between;
        margin-bottom:0.5rem;
    }
    &__name {
        @include mobile-subheader;
    }
    &__date {
        color:$font-secondary;
        @include mobile-text;
    }
    &__comment-text {
        @include mobile-text;
    }
}